@import '@/styles/_variables';
@import '@/styles/_mixins';

.wrapper{
    background-color: $backgroundGrey;
}

.mailing{
    display: grid;
    grid-template-columns: 1fr 410px;
    padding: 30px 0px;
    &__info{
        display: flex;
        align-items: center;
        @include fontNormal(20px);
        
        svg{
            margin-right: 30px;
        }
    }

    &__form{
        display: grid;
        grid-template-columns: 1fr 50px;
        column-gap: 15px;
    }
}