@import '@/styles/_variables';
@import '@/styles/_mixins';


.wrapper{
    border-bottom: 1px solid $borderPopup;
}

.filter{
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
    
    h1{
        color: $textColor;
        margin-bottom: 40px;
        @include fontNormal(38px);
    }

    &__list{
        display: grid;
        grid-template-columns: 1fr auto;
    }

}

.sort{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 40px;
}

.view{
    display: flex;
    align-items: center;
    @include fontNormal(17px);

    span{
        color: $textColor;
        margin-left: 8px;
        cursor: pointer;

        &:first-child{
            margin-left: 15px;
        }

        &.active{
            color: $textColorPlaceholder;
            cursor: default;
        }
    }
}