@import '@/styles/_variables';
@import '@/styles/_mixins';

.sizes{
    padding: 100px 0px 120px;

    &__info{
        color: $textColor;
        margin-bottom: 100px;
        @include fontNormal(19px);

        span{
            background: #FFECC8;
            border-radius: 7px;
            padding: 0px 5px;
        }
    }

    &__links{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 70px;
    }
}