@import '@/styles/_variables';
@import '@/styles/_mixins';


.wrapper{
    background-color: $backgroundGrey;
}

.best{
    padding-top: 110px;
    display: grid;
    overflow: hidden;
    column-gap: 210px;
    grid-template: 
        "header     description"
        "advantages image"
        / 50% 1fr;
    align-items: end;    

    
    &__description{
        grid-area: description;
        @include fontNormal(18px);
        font-weight: 300;
        display: grid;
        grid-template-columns: auto 1fr;
        svg{
            margin-right: 17px;
            margin-top: -12px;
        }
    }

    &__image{
        grid-area: image;
        position: relative;
        bottom: -30px;
    }

    &__advantages{
        grid-area: advantages;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 90px;
        padding-bottom: 120px;
        position: relative;
        &::after{
            height: 70px;
            width: 100%;
            position: absolute;
            top: -100px;
            content: '';
            background-image: url('../../assets/svg/decore-wave.svg');
            background-repeat: no-repeat;
        }
    }

}