@import '@/styles/_variables';


%fullPseudo{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

%closeIcon{
    position: absolute;
    cursor: pointer;
    color: $systemIconsColor;
    transition-duration: .2s;
    &:hover{
        color: darken($systemIconsColor, 20%);
    }
}

%iconHover{
    color: transparent;
    transition-duration: .2s;

    &:hover{
        color: $textColor;
    }
}