@mixin fontLight($px: 16px) {
    font: {
        weight: 300;
        style: normal;
        size: $px;
    }
    line-height: 140%;
}

@mixin fontNormal($px: 16px) {
    font: {
        weight: 400;
        style: normal;
        size: $px;
    }
    line-height: 140%;
}


@mixin fontMedium($px: 16px) {
    font: {
        weight: 500;
        style: normal;
        size: $px;
    }
    line-height: 140%;
}


@mixin fontBold($px: 20px) {
    font: {
        weight: 600;
        style: normal;
        size: $px;
    }
    line-height: 140%;
}

@mixin fontExtraBold($px: 20px) {
    font: {
        weight: 900;
        style: normal;
        size: $px;
    }
    line-height: 140%;
}

@mixin gradientText ($color) {
    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}