.fade-slider{
	.slick-slide{
		opacity: 0;
		transition-duration: .5s;
		transform: scale(0);
		&.slick-active{
			opacity: 1;
			transform: scale(1);
		}
	}
}

.swiper-trust {
    width: 100%;
    height: 100%;
	.swiper-slide {
		width: 150px;
		height: 140px;
	}
}

.swiper-scrollbar{
	background: $borderPopup;
	&-drag{
		background: $borderInput;
	}
}

