$backgroundColorLight: #ffffff;
$backgroundColorDark: #2b2d42;

$textColor: #2C2C2C;
$textColorSecond: #444444;
$textColorHeader: #2B2A28;
$textColorHeaderDark: #ecf8f8;
$textColorPlaceholder:#848484;

$headerLinkBack: #FFECC8;

$themeColorRed: #F93C00;
$themeColorGreen: #0CA41B;

$backgroundGrey: #F8F8F8;

$buttonColorText: #ffffff;
$buttonColor: linear-gradient(90deg, #21A5B5 0%, #71B2B4 100%);
$buttonColorDark: linear-gradient(90deg, #eb4fe0 0%, #ce7ccb 100%);
$buttonColorClick: linear-gradient(90deg, #21A5B5 0%, #71B2B4 100%);
$buttonColorHover: linear-gradient(90deg, #28BFD1 0%, #85CFD1 100%);

$borderInput: #CFCFCF;
$borderInputFocus: $buttonColor;
$borderInputError: $themeColorRed;

$systemIconsColor: $textColorPlaceholder;

$borderPopup: #F0F0F0;
$shadowPopup: 0px 1px 5px rgba(28, 30, 45, 0.05), 0px 5px 20px rgba(28, 30, 45, 0.07);

$iconGradientColor: #21A5B5;

$bannerGradient: linear-gradient(158.72deg, #CFAFFF 0%, #A6C6D1 100%);