@import '@/styles/_variables';
@import '@/styles/_mixins';
@import '@/styles/_abstract';

.delivery{
    display: grid;
    grid-template-columns: 430px 1fr;
    column-gap: 110px;
    padding-bottom: 120px;

    &__nav{
        display: grid;
        align-content: start;
        row-gap: 15px;
    }

    &__item{
        width: 100%;
        height: 130px;
        border-radius: 25px;
        display: grid;
        grid-template: auto auto / 1fr 44px;
        background-color: $backgroundColorLight;
        border: 1px solid $borderInput;
        align-items: center;
        padding: 25px 45px 25px 35px;
        gap: 7px 80px;
        cursor: pointer;
        transition-duration: .2s;

        &--select{

            border: 1px solid $iconGradientColor;

            .delivery__item-button  span:last-child{
                transform: rotate(180deg);
            }
        }

        &-name{
            color: $textColor;
            @include fontMedium(20px);
        }

        &-title{
            color: $textColor;
            @include fontNormal(16px);
        }

        &-button{
            grid-area: 1 / 2 / 3 / 3;
            width: 44px;
            height: 44px;
            border-radius: 15px;
            background-color: $backgroundGrey;
            position: relative;
            @extend %fCenter;

            span{
                position: absolute;
                height: 2px;
                width: 10px;
                background: $buttonColor;
                transition-duration: .2s;
    
                &:last-child{
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__content{
        display: flex;
        flex-direction: column;

        h1{
            color: $textColor;
            margin-bottom: 15px;
            @include fontNormal(38px);
        }

        p{
            color: $textColor;
            margin-bottom: 50px;
            @include fontNormal(17px);
        }
    }
}

.questions{
    display: flex;
    flex-direction: column;
    width: 100%;

    &__item{
        width: 100%;
        padding: 30px 20px 35px 0px;
        display: grid;
        row-gap: 20px;
        border-top: 1px solid $borderPopup;
        transition-duration: .4s;
        max-height: 68px;
        overflow: hidden;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;

        &--select{
            max-height: 300px;
            padding: 30px 20px 35px 0px;

            svg{

                transform: rotate(180deg);
            }
        }

        .name{
            color: $textColor;
            @include fontMedium(20px);
        }
        
        .answer{
            color: $textColor;
            @include fontNormal(17px);
        }

        svg{
            transition-duration: .4s;
            cursor: pointer;
            margin-top: 10px;
            grid-area: 1 / 2 / 3 / 3;
        }
    }
}