@import '@/styles/_variables';
@import '@/styles/_mixins';
@import '@/styles/_abstract';

%card__manage{
    width: 36px;
    height: 36px;
    background-color: $backgroundColorLight;
    border-radius: 10px;
    position: absolute;
    @extend %fCenter;
    top: 20px;
}

.card{
    display: grid;
    grid-auto-flow: row;
    padding-bottom: 110px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &--smallest{
        width: 270px;
        height: 510px;
    }

    &--small{
        width: 335px;
        height: 610px;
    }

    &--middle{
        width: 360px;
        height: 640px;
    }

    &--big{
        width: 550px;
        height: 930px;
    }


    &__slider{
        
        &-wrapper{
            width: 100%;
            position: relative;
        }

        &-nav{
            position: absolute;
            right: 0px;
            height: 80px;
            width: 45px;
            right: 0;
            top: calc(50% - 40px);
            background: rgba(227, 227, 227, 0.8);
            transition-duration: .2s;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            @extend %fCenter;

            svg{
                width: 10px;
                height: 17px;
            }

            &:hover{
                background: rgb(173, 172, 172);
            }

            &--prev{
                right: unset;
                left: 0;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                
                svg{
                    transform: rotate(180deg);
                }
            }
        }

        &-dots{
            position: absolute;
            top: -26px;
            left: 20px;
            display: flex !important;
            align-items: center;
            column-gap: 10px;
            z-index: 3;
        }

        &-dot{
            width: 15px;
            height: 6px;
            border-radius: 2px;
            background: rgba($textColor, 0.25);
            cursor: pointer;
            transition-duration: .2s;

            &:hover{
                background: $textColor;
            }

            &--active{
                background: $textColor;
            }
        }
    }

    &:hover{
        .card__info{
            bottom: -1px;
        }
    }

    &__image {
        width: 100%;
        background-color: $backgroundGrey;
        overflow: hidden;
        position: relative;
        flex: 1;
        @extend %fCenter;

        img{
            width: 100%;
            height: 100%;
        }

        &-favourite{
            position: absolute;
            top: 20px;
            right: 20px;
            width: 24px;
            height: 20px;
            cursor: pointer;
            @extend %iconHover;

            &--active{
                color: $textColor;
            }
        }

        &-sale{
            position: absolute;
            left: 15px;
            top: 15px;
            padding: 0px 7px;
            height: 32px;
            border-radius: 10px;
            background-color: $themeColorRed;
            display: flex;
            align-items: center;
            @include fontNormal(18px);
            color: $backgroundColorLight;
        }

        & > img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-bottom: -6px;
        }
    }

    &__delete{
        @extend %card__manage;
        right: 20px;

        &:hover svg {
            color: $themeColorRed;
        }

        svg{
            color: $textColorPlaceholder;
            transition-duration: .2s;
        }
    }

    &__select{
        @extend %card__manage;
        left: 20px;

        span{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $borderInput;
            @extend %fCenter;
            
            &::after{
                width: 0px;
                height: 0px;
                content: '';
                transition-duration: .2s;
                border-radius: 50%;
                background: $buttonColor;
            }
        }

        &--active{
            span{
                &::after{
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }


    &__info{
        display: grid;
        grid-auto-flow: row;
        padding: 25px 0px 1px;
        position: absolute;
        background: $backgroundColorLight;
        width: 100%;
        bottom: -74px;
        transition-duration: .4s;

        &-price{
            color: $textColor;
            @include fontBold();

            &--sale{
                color: $themeColorRed;
                display: flex;
                align-items: center;

                & > span {
                    margin-left: 10px;
                    color: $textColorPlaceholder;
                    text-decoration: line-through solid $themeColorRed;
                    @include fontNormal(16px);
                }
            }
        }

        &-name{
            color: $textColor;
            @include fontNormal(20px);
        }

        &-sizes{
            color: $textColor;
            display: flex;
            align-items: center;
            margin-top: 5px;
            height: 22px;
            @include fontNormal(16px);
            
            & > span{
                display: flex;
                align-items: center;

                &:not(:last-child)::after{
                    content: '';
                    height: 8px;
                    width: 1px;
                    margin: 0px 7px;
                    background-color: $borderInput;
                }
            }
        }

        &-buy{
            justify-self: start;
            margin-top: 20px;
        }
    }
}