@import '@/styles/_variables';
@import '@/styles/_mixins';
@import '@/styles/_abstract';

.wrapper{
    background: $bannerGradient;
    position: relative;
    
    &::after{
        content: '';
        background-image: url('../../assets/svg/wave.svg');
        background-size: 100% 100%;
        background-repeat: repeat-x;
        animation: wave 4s linear  infinite;
        position: absolute;
        bottom: -1px;
        width: 150%;
        height: 80px;
        z-index: 2;
    }
}

@keyframes wave {
    0%{
        transform: translateX(0%);
    }
    
    100%{
        transform: translateX(-25%);
    }
}

.banner{
    height: 700px;
    position: relative;

    &::after{
        content: '';
        background-image: url('../../assets/svg/palm1.svg');
        width: 400px;
        height: 245px;
        position: absolute;
        bottom: 0;
        left: 10%;
    }

    &::before{
        content: '';
        background-image: url('../../assets/svg/palm2.svg');
        width: 470px;
        height: 670px;
        position: absolute;
        bottom: -20%;
        right: 0%;
    }

    &__slider{
        z-index: 2;
        

        &-dots{
            position: absolute;
            bottom: 150px;
            left: 2px;
            display: flex !important;
            align-items: center;
            column-gap: 10px;
            z-index: 3;
        }

        &-dot{
            width: 15px;
            height: 6px;
            border-radius: 2px;
            background: rgba($backgroundColorLight, 0.25);
            cursor: pointer;
            transition-duration: .4s;

            &:hover{
                background: white;
            }

            &--active{
                background: white;
            }
        }
    }

    &__hints{
        position: absolute;
        @extend %fullPseudo;
        opacity: 1;
        transition-duration: .1s;

        &--hidden{
            opacity: 0;
            visibility: hidden;
        }
    }
}

.slide{
    display: grid !important;
    height: 700px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    z-index: 2;
    position: relative;
    padding: 0px 2px;

    &__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 100px;

        &-title{
            color: $backgroundColorLight;
            background-image: url('../../assets/svg/waves.svg');
            background-repeat: no-repeat;
            background-position: 25% 60%;
            @include fontMedium(90px);
        }

        &-description{
            margin: 10px 0px 50px;
            color: $backgroundColorLight;
            @include fontLight(26px);
        }
    }

    &__images{
        display: flex;
        align-items: flex-end;
        height: 700px;

        img{
            object-fit: contain;

            &:first-child{
                width: 546px;
                height: 100%;
            }

            &:last-child{
                height: calc(100% - 60px);
                width: 430px;
                margin-left: -70px;
                margin-top: 60px;
            }
        }
    }
}

$hintXY: ('index': 1, 'top': 42%, 'left': 31%), ('index': 2, 'top': 80%, 'left': 28%), ('index': 3, 'top': 45%, 'left': 57%), ('index': 4, 'top': 76%, 'left': 64%);

.hint{
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 2;
    width: 300px;

    @each $xy in $hintXY {
        &:nth-child(#{map-get($xy, 'index')}){
            left: map-get($xy, 'left');
            top: map-get($xy, 'top');
        }
    }

    &:hover{

        .hint__button{
            height: 36px;
            width: 36px;
            padding: 8px;
            right: -4px;

            &-content span:last-child{
                transform: rotate(180deg);
            }
        }

        .hint__text{
            opacity: 1;
            visibility: visible;
            transform: translateX(0px);
        }
    }



    &__button{
        height: 28px;
        width: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 0.2);
        padding: 4px;
        cursor: pointer;
        transition-duration: .2s;

        position: absolute;
        right: 0px;


        &-content{
            background: $backgroundColorLight;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            span{
                position: absolute;
                height: 1px;
                width: 6px;
                background: $buttonColor;
                transition-duration: .2s;
    
                &:last-child{
                    transform: rotate(90deg);
                }
            }
        }

    }

    &__text{
        max-width: 260px;
        padding: 20px 25px;
        background: $backgroundColorLight;
        border-radius: 20px;
        position: absolute;
        right: 40px;
        opacity: 0;
        transition-duration: .2s;
        transform: translateX(30px);
        visibility: hidden;
    }
}