@import '@/styles/_variables';
@import '@/styles/_mixins';

.plug{
    height: 190px;
}

.wrapper{
    background: $backgroundColorLight;
    position: fixed;
    z-index: 10;
    opacity: .5;
    transform: translateY(-90px);
    left: 0;
    top: 0;
    animation: header .4s ease forwards;
}

@keyframes header {
    0%{
        opacity: .6;
        transform: translateY(-90px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.header{
    display: grid;
    grid-template: 80px 110px / 1fr;

    &--collapse{
       grid-template-rows: 80px;
       
       .header-nav{
            padding-top: 0px;
            grid-template-columns: repeat(2, 1fr);
       }
    }

    &-nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        padding-top: 30px;

        &__contacts{
            justify-self: start;
            font: {
                weight: 300;
                size: 18px
            }
            color: $textColorPlaceholder;
            span{
                color: $textColorHeader;
                @include fontNormal(18px);
            }
        }

        &__buttons{
            justify-self: end;
            display: flex;
            align-items: center;
            column-gap: 17px;
        }
    }
}