@import '@/styles/_variables';
@import '@/styles/_mixins';
@import '@/styles/_abstract';

.input{
    background: $borderInput;
    display: flex;
    position: relative;
    height: 52px;
    border-radius: 15px;
    padding: 1px;

    &::after{
        @extend %fullPseudo;
        border-radius: 15px;
        background: $borderInputFocus;
        opacity: 0;
        z-index: 0;
        transition-duration: .2s;
    }

    &--focus{
        &::after{
            opacity: 1;
        }
    }

    &--error{
        background: $themeColorRed;
        &::after{
            opacity: 0;
        }
    }
    

    &__field{
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 14px;
        background: $backgroundColorLight;
        padding: 0 18px 0 15px;
        z-index: 1;
    }

    &__target{
        @include fontNormal(16px);
        height: 100%;
        flex: 1 0 0;
        color: $textColor;

        &[data-icon="true"]{
            margin-right: 30px;
        }
        
    }

    &__label{
        @include fontNormal(18px);
        position: absolute;
        z-index: 2;
        left: 15px;
        height: calc(100% - 2px);
        display: flex;
        align-items: center;
        transition-duration: .1s;
        color: $textColorPlaceholder;
        cursor: text;

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $backgroundColorLight;
            margin-top: 1px;
            z-index: -1;
            opacity: 0;
        }

        span{
            color: $themeColorRed;
        }

        &--focus{
            @include fontNormal(14px);
            height: 14px;
            top: -7px;
            padding: 0px 1px;

            &::after{
                opacity: 1;
            }
        }
    }
}

.icon--hide{
    path:last-child{
        display: none;
    }
}