.gallery{
    padding: 110px 0px 120px;

    &__header{
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        height: 162px;
        margin-bottom: 60px;
    }

    &__button{
        grid-column-start: 2;
        grid-row: 1 / 2;
        justify-self: end;
        align-self: end;
    }

    &__description{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: end;
    }

    &__title{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: start;
    }

    &__body{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 328px;
        gap: 30px;
    }

    &__image{
        width: 100%;
        &:first-child{
            grid-area: 1 / 1 / 3 / 3;
        }
        &:last-child {
            grid-area: 4 / 3 / 6 / 5;
        }
    }
}