.gallery{
    padding: 110px 0px 120px;

    &__header{
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        height: 162px;
        margin-bottom: 60px;
    }

    &__button{
        grid-column-start: 2;
        grid-row: 1 / 2;
        justify-self: end;
        align-self: end;
    }

    &__description{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: end;
    }

    &__title{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: start;
    }
}