@import '@/styles/_variables';
@import '@/styles/_abstract';

.icon{
    position: relative;
    height: 34px;
    width: 34px;
    cursor: pointer;
    @extend %fCenter;

    svg{
        z-index: 1;
    }
    
    span{
        background: $themeColorRed;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
}