@import '@/styles/_variables';
@import '@/styles/_mixins';

.textarea{
    width: 100%;
    border-radius: 15px;
    border: 1px solid $borderInput;
    resize: vertical;
    min-height: 130px;
    height: 130px;
    padding: 17px;
    background-color: $backgroundColorLight;
    color: $textColor;
    transition-duration: .2s;
    z-index: 1;
    @include fontNormal(16px);

    &::placeholder{
        color: $textColorPlaceholder;
        @include fontNormal(18px);
    }

    &--focus{
        border: 1px solid $iconGradientColor;
    }

}