@import '@/styles/_mixins';
@import '@/styles/_variables';


.footer__column{
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    
    span{
        color: $textColor;
        margin-bottom: 20px;
        @include fontNormal(24px)
    }
}

.footer__content{
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
}