@import './assets/fonts/FuturaPT/stylesheet.scss';

html, button, input, textarea{
	font: {
		family: 'Futura PT';
		size: 20px;
	}
}

*, button, input, textarea{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	border: none;
	outline: none;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}