@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss";

@import './assets/fonts/FuturaPT/stylesheet.scss';


html, button, input, textarea{
	font: {
		family: 'Futura PT';
	}
}

body{
	width: 100vw;
	overflow-x: hidden;
}

*, button, input, textarea{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	border: none;
	outline: none;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}


.fade-slider{
	.slick-slide{
		opacity: 0;
		transition-duration: .5s;
		transform: scale(0);
		&.slick-active{
			opacity: 1;
			transform: scale(1);
		}
	}
}
