

.products{
    display: grid;

    &--view-4{
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 20px;
    }

    &--view-3{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 30px;
    }

    &--view-2{
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 40px;
    }
}