@import '@/styles/_variables';
@import '@/styles/_mixins';

.modal{
    @include autorizationModal{
        span{
            cursor: pointer;
            @include gradientText($buttonColor);
        }
    };
}


.form{
    display: grid;

    &__input{
        margin-bottom: 15px;
    }

    &__checkbox{
        margin: 5px 0px 20px;
    }
}